@{
    ViewBag.Title = "Payments";
}

<div id="PaymentsHeader">
    <label id="lblList">Select Employee:</label>
        <select id="empList" data-bind="options: Employees, value:SelectedEmployeeId, optionsCaption:'Select Employee Id'">
        </select>

</div>
